<div class="footer">
    <div class="socials">
        <a href="https://www.instagram.com/j.ppaz?"><img src="/images/instagram-logo.png" class="socials-logo"></a>
        <a href="https://github.com/pazesilvajulia"><img src="/images/github-Logo.png" class="socials-logo"></a>
        <a href="https://www.linkedin.com/in/pazesilvajulia/"><img src="/images/linkedin-Logo.png" class="socials-logo"></a>
        <a href="https://wa.me/5547997634074"><img src="/images/whatsapp-Logo.png" class="socials-logo"></a>
    </div>

</div>