
/*------------ SETUP GERAL DA LANDING PAGE --------------*/

html{
    height: 100vh;
}

h3{
    font-size: 5vh;
    color: var(--cor-secundaria);
    font-weight: 400;
}

h1{
    font-size: 7vh;
}


/*------------ CONTEÚDO PRINCIPAL DA LANDING PAGE --------------*/

.main-container{
    height: 70vh;
    margin: 20px;
    display: flex;
    align-items: center;
}
